*css

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #374151;
    padding: 30px;
    list-style: none;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1{
    color: #f8fafc;
    text-transform: uppercase;
    text-decoration: underline;
}

.intro{
    font-size: large;
    font-weight: 200;
    text-align: left;
}

.class1{
    text-decoration:underline ;
}

.class2{
    text-decoration: underline;
}

.intro2{
    font-size: large;
    text-decoration: wavy;
    text-align: right;
    
}

.class3{
    text-decoration: underline;
}

.intro3{
    font-size: large;
    font-weight: bold;
    text-align: center;
    text-decoration: line-through;
}

.lien{
    color: #500724;
    font-size: large;

}